<Alloy>
	<TabGroup platform="ios" >
        	<Tab platform="ios" >
        		<Window id="win" platform="ios" class="container">
                	<RightNavButton platform="ios" >
                    		<Button title="Menu" onClick="openMenu" />
                	</RightNavButton>
					<Menu platform="android" class="menuBar" >
			 				<MenuItem title="Menu" onClick="openMenu"/>
        			</Menu>
        			<View>
      				  <Button id="pushBtn" title="PushNotes" onClick="OpenPush"></Button>	
       			    </View>
				</Window>
        	</Tab>
    </TabGroup>
    
    <Window id="win" platform="android" class="container">
    	<Menu platform="android" class="menuBar" >
			<MenuItem title="Menu" onClick="openMenu"/>
        </Menu>
        <View>
        	<Button id="pushBtn" title="PushNotes" onClick="OpenPush"></Button>	
        </View>
    </Window>
</Alloy>	